.Header * {
    display: inline;
}

.Header {
    margin-bottom: 10px;
}

.Header h1 {
    font-size: 60px;
    margin-right: 75px;
}

.Header div {
    margin: 10px;
    color: rgb(90, 90, 90);
    font-size: 25px;
}